.App {
  text-align: center;
  background-color: rgb(14, 221, 24);
  border-radius: 2rem;
}

html {
  background-color: darkgray;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.light-text {
  color: white;
}

.dark-text {
  color: rgb(14, 221, 24);
}

.dark-panel {
  background-color: rgb(14, 221, 24);
  border: 0.5rem solid rgb(14, 221, 24);
  border-radius: 2rem;
}

.light-panel {
  background-color: white;
  border: 0.5rem solid rgb(14, 221, 24);
  border-radius: 2rem;
}

h1,
h2 {
  text-decoration: underline;
}

.tip {
  font-style: oblique;
}

.input-label {
  background-color: rgb(33, 145, 33);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
}

.input-box {
  background-color: lightgray;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
  width: 10rem;
}

#calories-input,
#zone-input {
  width: 6rem;
}

#select-reps,
#select-calories {
  width: 4rem;
  border-radius: 0rem;
}

#select-reps-label,
#select-activity,
#select-target-cals-label,
#select-zone {
  border-radius: 0rem;
}

#submit-activity,
.submit-button {
  background-color: rgb(33, 145, 33);
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
}

#add-activity-button,
#generate-workout {
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
}

.generator-grouping {
  background-color: rgb(33, 145, 33);
  border-radius: 2rem;
  width: fit-content;
  text-align: center;
}
