.App {
  text-align: center;
}

.container {
  display: grid;
  background-color: rgb(14, 221, 24);
  max-width: 120rem;
  max-height: 120rem;
  height: 50rem;
  border-radius: 2rem;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 21% 20% 49% 10%;
  grid-template-areas:
    "header manual-generate auto-generate"
    "header list-heading list-heading"
    "description list list"
    "adder clear clear";
}

html {
  background-color: darkgray;
  padding: 4rem;
  padding-top: 3rem;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.light-text {
  color: white;
}

.dark-text {
  color: rgb(14, 221, 24);
}

.dark-panel {
  background-color: rgb(14, 221, 24);
  border: 0.5rem solid rgb(14, 221, 24);
  border-radius: 2rem;
}

.light-panel {
  background-color: white;
  border-radius: 2rem 2rem 0rem 0rem;
  padding-bottom: 0rem;
  margin-top: 1.5rem;
}

h1,
h2 {
  text-decoration: underline;
}

.tip {
  font-style: oblique;
}

.input-label {
  background-color: rgb(33, 145, 33);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
}

.input-box {
  background-color: lightgray;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
  width: 10rem;
}

#calories-input,
#zone-input {
  width: 6rem;
}

#select-reps,
#select-calories {
  width: 4rem;
  /* border-radius: 0rem; */
}

/* #select-reps-label,
#select-activity,
#select-target-cals-label,
#select-zone {
  border-radius: 0rem;
} */

#submit-activity,
.submit-button {
  background-color: rgb(33, 145, 33);
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(9, 243, 146) solid;
}

/* #add-activity-button,
#generate-workout {
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
} */

.generator-grouping {
  /* width: fit-content;
  height: fit-content; */
  text-align: left;
}

/* positioning ///////////////////////////////////////////// */

/* "header manual-generate auto-generate"
    "description list-heading list-heading"
    "description list list"
    "adder clear clear" */

.title {
  grid-area: header;
  font-size: 2.4rem;
  position: relative;
}

.adder-text {
  grid-area: description;
  font-size: 2rem;
}

.adder {
  grid-area: adder;
}

.clear {
  grid-area: clear;
}

.manual-generate {
  grid-area: manual-generate;
  padding-top: 0rem;
}

.auto-generate {
  grid-area: auto-generate;
  padding-top: 0rem;
}

.workout-header {
  grid-area: list-heading;
  border-top: 1rem rgb(14, 221, 24) solid;
  border-left: 1rem rgb(14, 221, 24) solid;
  border-right: 1rem rgb(14, 221, 24) solid;
  padding-bottom: 1rem;
  font-size: larger;
}

.list-panel {
  grid-area: list;
  background-color: white;
  border-bottom: 1rem rgb(14, 221, 24) solid;
  border-left: 1rem rgb(14, 221, 24) solid;
  border-right: 1rem rgb(14, 221, 24) solid;
  border-radius: 0rem 0rem 2rem 2rem;
  margin-top: 0rem;
  padding: 2rem;
  font-size: 1.7rem;
  font-family: fantasy;
}
